<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyPerfectPaper | Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bulma.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="{{ url_for('static', filename='myperfectpaper.png') }}" alt="logo" height="200">
            </a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">
                    Home
                </a>
                <a class="navbar-item" href="feedback">
                    Feedback
                </a>
            </div>
            </div>
        </div>
    </nav>
    <div class="content p-6">
    <div class="columns is-mobile">
        <div class="column">
            <h1 class="title is-4 pb-4">MyPerfectPaper</h1>
            <h3 class="subtitle is-6">The best place to get your papers done - providing feedback from theme to tone</h3>
            <p>Get instantaneous and detailed feedback on your writing - all you have to do is copy and paste your writing, select the type, and submit!</p>
            <a class="button is-primary is-rounded" href="feedback">Get Started</a>
        </div>
    </div>
    </div>
</body>
</html>